<%= form_for @user, html: { multipart: true } do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sex %>
    <%= f.select :sex,
      options_for_select(
        [
          [t(:male), :male],
          [t(:female), :female],
          [t(:gay), :gay],
          [t(:lesbian), :lesbian]
        ], @user.sex
      ), {},
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Address" , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "Phone" , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email" , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <span class="picture">
      <%= f.file_field :avatar %>
    </span>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
